extend templates/layout
block append main
	mixin fluid(titulo,parrafo)
				.container-fluid
					img.escalar_img(src="img/coming-soon-bg.png")
					div.elementos
						h4 #{titulo}
						p #{parrafo}
			+fluid("Pricing Table","Configuring your pricing table")
	.container#planes
		.row
			mixin planes(plan, colortitulo, colortriangulo, precio)
				.col.s3.col.l3
					div(class="row", class="color_titulo-#{colortitulo}") #{plan}Plan
					.row
						div(class="triangulo-#{colortriangulo}")
							p.align $#{precio}/Month
					.margn
						.row
							p.inline Lorem ipsum dolor
							i.material-icons add
						.row
							p.inline Lorem ipsum dolor
							i.material-icons check
						.row
							p.inline Lorem ipsum dolor
							i.material-icons add
						.row
							p.inline Lorem ipsum dolor
							i.material-icons check
						.row
							p.inline Lorem ipsum dolor
							i.material-icons add
						.row
							p.inline Lorem ipsum dolor
							i.material-icons check
					div(class="row", class="color_titulo-#{colortitulo}")
						p BUY NOW
			+planes("Basic",1,1,"29")
			+planes("Silver",2,2,"89")
			+planes("Gold",3,3,"29")
			+planes("Platinum",4,4,"29")
	.container#planes
		.row
			mixin paquetes(triangulosup, colortitulo, paquete, precio, trianguloinf)
				.col.s3.col.l3
					div(class="row", class="triangulosup-#{triangulosup}")
					div(class="row", class="color_titulo-#{colortitulo}")
						span.rigth #{paquete}
						span  $#{precio}/Month
					.row
						p.inline Lorem ipsum dolor
						i.material-icons add
					.row
						p.inline Lorem ipsum dolor
						i.material-icons check
					.row
						p.inline Lorem ipsum dolor
						i.material-icons add
					.row
						p.inline Lorem ipsum dolor
						i.material-icons check
					.row
						p.inline Lorem ipsum dolor
						i.material-icons add
					.row
						p.inline Lorem ipsum dolor
						i.material-icons check
					div(class="row", class="triangulo-#{trianguloinf}")
						p.align2 SIGN UP
			+paquetes(1,1,"Basic","29",1)
			+paquetes(2,2,"Silver","89",2)
			+paquetes(3,3,"Gold","299",3)
			+paquetes(4,4,"Platinum","699",4)
