extend templates/layout
block append main
	mixin fluid(titulo,parrafo)
		.container-fluid
			img.escalar_img(src="img/coming-soon-bg.png")
			div.elementos
				h4 #{titulo}
				p #{parrafo}
	+fluid("About Us","Why our Clients love to work with us")
	.container
		.row
			.col.s6
				img.escalar_img(src="img/aboutus/1.png")
			.col.s6
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
	.container
		.row
			mixin contenido(imagen,titulo,parrafo)
				.col.s4
					img.margin_img(src="img/home/icon#{imagen}.png")
					h5.center-align #{titulo}
					p.center-align #{parrafo}
			+contenido(1,"Incredibly responsive", "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.")
			+contenido(2,"Superior Typhograpy", "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.")
			+contenido(3,"Swift Page Builder", "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.")
	+fluid("Triangle corporate Template","A responsive, retina-ready & wide multipurpose template.")
	img.moto(src="img/home/tour-icon2.png")
	button.btn.right-align TAKE THE TOUR
	.container
		h3.center-align Meet the team
		p.center-align Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod
		p.center-align Sed do eiusmod tempor incididunt ut labore et dolore.
	.container
		.row
			mixin box(imagen)
				.col.s3
					img.escalar_blok(src="img/aboutus/#{imagen}.jpg")
					h5 John Doe
					p CEO & Developer
			+box(4)
			+box(3)
			+box(2)
			+box(1)